name: Keep Streamlit Apps Alive

on:
  schedule:
    - cron: '0 * * * *'

  workflow_dispatch:

jobs:
  ping-apps:
    runs-on: ubuntu-latest

    steps:
      - name: Send request to xad-recruitment-details.streamlit.app
        run: curl -s -o /dev/null -w "%{http_code}\n" https://xad-recruitment-details.streamlit.app/
